**/target/
**/.apt_generated/
**/.project
**/.classpath
**/.factorypath
**/.settings/org.eclipse.jdt.apt.core.prefs
**/.settings/org.eclipse.m2e.core.prefs
**/.settings/org.maven.ide.eclipse.prefs
**/.settings/org.eclipse.core.resources.prefs
**/.settings/org.eclipse.wst.common.component
**/.settings/org.eclipse.wst.common.project.facet.core.xml
**/.settings/org.eclipse.wst.jsdt.ui.superType.container
**/.settings/org.eclipse.wst.jsdt.ui.superType.name
**/.settings/org.eclipse.wst.validation.prefs
**/.settings/org.eclipse.mylyn.team.ui.prefs
**/.jsdtscope
*.iml
*.idea
*.log
*.log-*
**/log/
**/logs/
**/data/
local-overrides.properties